# Basic of Python

Various datatypes in python

Variables

Variable Assignment

Print Formating

# Various Datatypes in python

Numbers

In [1]:
1+5

6

In [2]:
2-8

-6

In [3]:
2*6

12

In [4]:
2/3

0.6666666666666666

In [1]:
5%2

1

In [2]:
12*2

24

In [3]:
13**2

169

In [4]:
12*'Hari'

'HariHariHariHariHariHariHariHariHariHariHariHari'

In [6]:
type(1)

int

In [7]:
type('Hello')

str

In [9]:
type(True)

bool

Strings

In [10]:
"haripriya"

'haripriya'

In [11]:
'amala'

'amala'

In [12]:
type('amala')

str

Variable assignment

In [13]:
#syntax
#variable_name=values
a=9

In [14]:
a='jethan'

In [15]:
type(a)

str

In [16]:
##mathematical operation with variable assignment
a=10
b=20

In [17]:
print(a*b)

200

In [18]:
print(a/b)

0.5

In [19]:
print(a-b)

-10

In [20]:
print(a**b)

100000000000000000000

In [21]:
print(a%b)

10

In [26]:
print((a*b)+(a/b))

200.5

In [25]:
a=10
b=20

In [27]:
print((a*b)+(a-b))

190

##various ways of printing

In [28]:
first_name='Hari'

In [29]:
last_name='Priya'

In [31]:
print("My first name is {} and my last name is {}".format(first_name,last_name))

My first name is Hari and my last name is Priya

In [34]:
print("my first name is {First} and last name is {Last}".format(First=first_name,Last=last_name))

my first name is Hari and last name is Priya

In [38]:
my_name='Haripriya'

In [39]:
my_sun_name='amala'

In [40]:
print("my name is {} and my sun name is {}".format(my_name,my_sun_name))

my name is Haripriya and my sun name is amala

In [41]:
len("Haripriya")

9

In [42]:
type(1.0)

float

In [43]:
type("om sairam")

str

In [44]:
type('1,2,3,4')

str

In [45]:
type(['1,2,3,4'])

list